.main-container {
  margin: 0 0 20px 0;
}

.photo-text {
  background-color: #d0b995;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 0 15px;
}

.photo {
  width: 70%;
  margin-top: 15px;
}

.separated {
  width: 100%;
  margin: 15px 0 15px 0;
  padding: 1px;
}

.separated h1{
  color: #383838;
  margin-top: 10px;
  padding: 15px;
}

.separated p{
    padding: 10px;
    color: #383838;
    margin-bottom: 10px;
    line-height: 1.3em;
  }

.separated p:first-of-type {
    text-indent: 0;
    margin-top: 5px;
  }

.post-scriptum {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

.resume {
  width: 100%;
  text-align: center;
  margin: 20px 0 15px 0;
}

.resume a{
  font-size: 22px;
  transition: 300ms;
  padding: 10px;
}

.resume a:hover {
  box-shadow: 0 0 4px #383838;
}

@media screen and (min-width: 951px){
  .main-container {
    margin: 100px 10px 0 10%;;
  }

  .photo-text {
    flex-direction: row;
  }

  .photo {
    width: 40%;
    margin: 15px 20px 15px 100px;
  }

  .separated {
    font-size: 18px;
  }

  .resume {
    font-size: 25px;
    text-align: right;
    margin: 80px 0 60px 0;
  }
  .resume a {
    margin-right: 40px;
  }
}
